.root {
  margin: 0 auto;
  max-width: 750px;
  padding: 100px;
  text-align: center;
}

.description {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 20px;

}

.toHome{
  padding: 12px 0 14px;
  width: 300px;
  margin: 0 auto;
  display: block;
  font-weight: 600;
  font-size: 18px;
  background-color: black;
  border-radius: 30px;
  span{
    color: #fff;
  }
  &:hover{
    background-color: #fe5f1e;
    transition: 0.3s;
  }

}