.root {
  margin: 0 auto;
  max-width: 750px;
  margin-bottom: 100px;
  text-align: center;
  p {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
  }
}

.toHome {
  margin: 0 auto;
  font-size: 18px;
  border-bottom: 1px solid black;
  &:active {
    font-weight: 500;
  }
}
